<html>
   <head>
      <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="theme-color" content="#000000" />
      <meta name="Homepage of Alan Arvelo" content="Visit my personal site! :)" />
      <title>Homepage of Alan Arvelo</title>
      <link rel="icon" href="resources/favicon/techie2.png" />
   </head>
   <body bgcolor="white" data-gr-c-s-loaded="true" align="center" margin="auto">
      <font face="Arial">
         <!-- header -->
          <b>About</b>&nbsp;&nbsp;
          <a href="/degrees.html">Degrees</a>&nbsp;&nbsp;
          <a href="/projects.html">Projects</a>&nbsp;&nbsp;
          <!-- <a href="">Contributions</a>&nbsp;&nbsp;
          <a href="">Publications</a>&nbsp;&nbsp;
          <a href="">Resume</a>&nbsp;&nbsp; -->
          <br>
         
         <table width="600" align="center">
            <tbody>
               <tr>
                  <td>
                     <hr size="1" noshade="noshade">
                     <h2>Alan Arvelo</h2>
                     <h3>  </h3>
                     <p class="centeredImage" align="center"><a href="./resources/headshot.jpg"><img src="./resources/images/headshot.jpg" width="500" alt="Headshot of Alan Arvelo"></a></p>
                     <p>
                        Alan finds joy in learning, in figuring things out. He has submerged and surfaced the waters of Energy Engineering and Data Science,
                        and is currently summiting the learning curve of Web & Cloud development.
                        Lately he is using Django and Flask to build APIs and AWS, Docker, and Kubernetes to host them in the cloud.<br>
                        <br>
                        Alan currently holds two MS and one BS within the fields of Electrical Engineering and Computer Science.
                     </p>


                     <hr size="1" noshade="noshade">
                     <p align="left"><b>To get in touch:</b></p>
                     <ul>
                        <li><b>Email</b> (preferred): alanarvelo<img src="./resources/images/stop.png" alt="stop" width="15" height="15">gmail.com<br></li>
                        <!-- <li><a href="https://medium.com/@alanarvelo" target="_blank" rel="noopener noreferrer">Alan on Medium</a><br></li> -->
                        <li><a href="https://github.com/alanarvelo" target="_blank" rel="noopener noreferrer">Alan on GitHub</a><br></li>
                        <li><a href="http://www.linkedin.com/in/alanarvelo" target="_blank" rel="noopener noreferrer">Alan on LinkedIn</a><br></li>
                        <!-- <li><a href="https://twitter.com/alanarvelo" target="_blank" rel="noopener noreferrer">Alan on Twitter</a><br></li> -->
                     </ul>
                     <hr size="1" noshade="noshade">
                  </td>
                  <td>
                     &nbsp;
                  </td>
               </tr>
            </tbody>
         </table>
         <!-- <script type="text/javascript" async="" src="./resources/ga.js"></script>
         <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36503922-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
         </script> -->
      </font>
   </body>
</html>