<html>
   <head>
      <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="theme-color" content="#000000" />
      <meta name="Homepage of Alan Arvelo" content="Visit my personal site! :)" />
      <title>Homepage of Alan Arvelo</title>
      <link rel="icon" href="resources/favicon/techie2.png" />
   </head>
   <body bgcolor="white" data-gr-c-s-loaded="true" width="100%" align="center">
      <font face="Arial">
         <!-- header -->
         <!-- <div align="center"> -->
         <a href="/">About</a>&nbsp;&nbsp;
         <a href="/degrees.html">Degrees</a>&nbsp;&nbsp;
         <b>Projects</b>&nbsp;&nbsp; <!-- Dehack, ant, other udacity,  -->
         <!-- <a href="">Contributions</a>&nbsp;&nbsp;
         <a href="">Publications</a>&nbsp;&nbsp;
         <a href="">Resume</a>&nbsp;&nbsp; -->
         <!-- </div> -->
         <br>
         
         <table width="600" align="center">
          <tr>
            <td>
              <hr size="1" noshade="noshade" />
              <!-- ************************************************************** -->
              <h3>Projects of Alan Arvelo</h3>
               <ul>
                  <li>
                     <b>Manhattan Heatmap</b><br>
                     <br>
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/Fy4VT0FMILQ" frameborder="0" allow="accelerometer; autoplay;
                     encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                     </iframe><br>
                     <br>
                     <text>
                        The prototype of an application to visualize geographical data from various sources. This version shows building data along with census data. Potential
                        to add points of interest, mobile location, among others.
                     </text><br>
                     <br>
                     <text>See it on: <a href="https://youtu.be/pTHeNLgnt3o" target="_blank" rel="noopener noreferrer">Demo</a>, 
                      <a href="https://github.com/alanarvelo/Manhattan-Heatmap" target="_blank" rel="noopener noreferrer">Github</a>.
                     </text><br>
                     <text>Built with: Bokeh, Python, Geopandas, Google's <i>Maps Javascript API</i>.</text><br>
                     <br><br>
                  </li>
                  <li>
                     <b>DeHack — Decentralized Hackathons</b><br>
                     <br>
                     <iframe width="500" height="300" src="https://www.youtube.com/embed/pTHeNLgnt3o" frameborder="0" allow="accelerometer; autoplay; 
                      encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                     </iframe><br>
                     <br>
                     <text>
                      A decentralized application (DApp) running on the Ethereum network that allows anyone to create and manage a hackathon, or any 
                      other competition. The processes of registration, judge selection, prize funding, voting, and prize disbursal occur on
                      the blockchain providing efficiency and transparency and preventing tampering.
                     </text><br>
                     <br>
                     <text>See it on: <a href="https://dehack.app" target="_blank" rel="noopener noreferrer">DeHack</a>, 
                      <a href="https://youtu.be/pTHeNLgnt3o" target="_blank" rel="noopener noreferrer">Demo videos</a>, 
                      <a href="https://github.com/alanarvelo/DHackathon" target="_blank" rel="noopener noreferrer">Github</a>.
                     </text><br>
                     <text>Built with: React, Node, Solidity, Truffle.</text><br>
                     <br><br>
                  </li>
                  <li>
                     <b>Analyzing 2019 AI publications</b><br>
                     <br>
                     <div>
                        <img width="550" src="./resources/images/top3_orgs_most_published.png" alt="Top 3 organizations by AI papers published" />
                     </div><br>
                     <br>
                     <text>
                     Retrieval via API, data cleaning, parsing, feature engineering, inserting into a graph database, and visualizing all of AI research
                     papers from the 2019 NeurIPS and ICML conferences.
                     </text><br>
                     <br>
                     <text>See it on: medium article coming soon...
                     </text><br>
                     <text>Built with: Python, Pandas, Neo4J, and some javascript & html.</text><br>
                     <br><br>
                  </li>
                  <li>
                     <b>Evolving an Ant to follow a Trail</b><br>
                     <br>
                       <div>
                         <img width="200" src="./resources/images/john_muir_trail.png" alt="John Muir Trail" />
                         <img width="300" src="./resources/images/john_muir_trail_solved.png" alt="John Muir Trail Solved" />
                       </div><br>
                     <br>
                     <text>
                      A genetic algorithm that evolves an ant to crawl over a 2D grid of cells with toroidal boundary conditions (wrap-around) following
                      trails of food (the John Muir trail).
                     </text><br>
                     <br>
                     <text>See it on: <a href="https://nbviewer.jupyter.org/github/alanarvelo/genetic_algorithm_ant/blob/master/Report%201-4.ipynb" target="_blank" rel="noopener noreferrer">Report</a>,
                       <a href="https://nbviewer.jupyter.org/github/alanarvelo/genetic_algorithm_ant/blob/master/Report%205%20-%207.ipynb" target="_blank" rel="noopener noreferrer">Report II</a>,
                       <a href="https://github.com/alanarvelo/genetic_algorithm_ant" target="_blank" rel="noopener noreferrer">Github</a>.
                     </text><br>
                     <text>Built with: Python, Jupyter, Pandas, DEAP.</text><br>
                     <br><br>
                  </li>
               </ul>




               <hr size="1" noshade="noshade" />
            </td>
            <td>
               &nbsp
            </td>
         </tr>

         </table>

      </font>
   </body>
</html>