<html>
   <head>
      <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="theme-color" content="#000000" />
      <meta name="Homepage of Alan Arvelo" content="Visit my personal site! :)" />
      <title>Homepage of Alan Arvelo</title>
      <link rel="icon" href="resources/favicon/techie2.png" />
   </head>
   <body bgcolor="white" data-gr-c-s-loaded="true" align="center">
      <font face="Arial">
         <!-- header -->
         <a href="/">About</a>&nbsp;&nbsp;
         <b>Degrees</b>&nbsp;&nbsp;
         <a href="/projects">Projects</a>&nbsp;&nbsp;
         <!-- <a href="">Contributions</a>&nbsp;&nbsp;
         <a href="">Publications</a>&nbsp;&nbsp;
         <a href="">Resume</a>&nbsp;&nbsp; -->
         <br>
         
         <table width="650" align="center">
          <tr>
            <td>
              <hr size="1" noshade="noshade" />
              <!-- ************************************************************************************ -->
              
               <h3>Certifications of Alan Arvelo</h3>
               <ul>
               <li>
                  <b>Full Stack Web Developer</b><br>
                  <text>Udacity</text><br>
                  [ <a href="" target="_blank" rel="noopener noreferrer">Coming Soon</a> ]
                  <br><br>
               </li>
                <!-- <li>
                  <b>Ethereum Blockchain Developer</b><br>
                  <text>Consensys</text><br>
                     [ <a href="resources/degrees/alan_arvelo_consensys_certificate.pdf" target="_blank" rel="noopener noreferrer">Certificate</a> ]
                  <br><br>
                </li> -->
                <li>
                    <b>React</b><br>
                    <text>Udacity</text><br>
                    [ <a href="https://confirm.udacity.com/9H7TT4HG" target="_blank" rel="noopener noreferrer">Certificate</a> ]
                    <br><br>
                </li>
                <!-- <li>
                    <b>Blockchain Developer Nanodegree</b><br>
                    <text>Udacity</text><br>
                    [ <a href="https://graduation.udacity.com/confirm/SGF5NL5H" target="_blank" rel="noopener noreferrer">Certificate</a> ]
                    <br><br>
                </li> -->
                <li>
                    <b>Data Scientist with Python Track</b><br>
                    <text>DataCamp</text><br>
                    [ <a href="https://www.datacamp.com/statement-of-accomplishment/track/b5c202dbe70b2873946f92b98b842c8943504d23" target="_blank" rel="noopener noreferrer">Certificate</a> ]
                    <br><br>
                </li>
               </ul>

               <!-- ******************************************************************** -->

               <h3>Degrees of Alan Arvelo</h3>
               <ul>
                  <li>
                     <b>Master of Science in Energy Engineering, Concentration in Data Science</b><br>
                     <text>Polytechnic University of Catalonia</text><br>
                     <text>Barcelona, Spain</text><br>
                     [ <a > waiting for the king of Spain to sign it </a> ]
                     <br><br>
                  </li>
                  <li>
                     <b>Master of Science in Electrical Engineering and Computer Science</b><br>
                     <text>KTH Royal Institute of Techonology</text><br>
                     <text>Stockholm, Sweden</text><br>
                     [ <a href="resources/degrees/alan_arvelo_kth_ms_degree.pdf" target="_blank" rel="noopener noreferrer">Degree</a> ]
                     <br><br>
                  </li>
                  <li>
                     <b>Bachelor of Science in Energy Engineering</b><br>
                     <text>The Pennsylvania State University</text><br>
                     <text>PA, USA</text><br>
                     <text>GPA: 3.96 (on a 5.00 scale)</text><br>
                     [ <a href="resources/degrees/alan_arvelo_psu_bs_degree.pdf" target="_blank" rel="noopener noreferrer">Degree</a> ]
                     <br><br>
                  </li>
               </ul>

               <!-- ******************************************************************** -->

               <h3>Code Samples of Alan Arvelo</h3>
               <ul>
                  <li>
                     <b>Public side projects (Python, JavaScript, Solidity)</b><br>
                     [ <a href="https://github.com/alanarvelo" target="_blank" rel="noopener noreferrer" >Github</a> ]
                     <br><br>
                  </li>
               </ul>
               <hr size="1" noshade="noshade" />
            </td>
            <td>
               &nbsp
            </td>
         </tr>

         </table>

      </font>
   </body>
</html>